<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum eligendi, porro ipsum necessitatibus nulla voluptatum laboriosam obcaecati quo debitis natus repellendus! Corrupti quisquam maxime amet repellat assumenda commodi, unde dicta!</p>
</body>
</html>